html,
body,
#root {
    height: 100%;
    min-width: 320px;
    margin: 0;
}

.app {
    height: calc(100vh - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.switch {
    padding-left: 20px;
    padding-top: 20px;
}